<?xml version="1.0" encoding="UTF-8"?>

<config>
	<proxyPort>8080</proxyPort>
	<remoteServicesPort>8082</remoteServicesPort>
	<threadPoolSize>50</threadPoolSize>
	<maxPersistantServerConnections>30</maxPersistantServerConnections>
	<maxPersistantServerConnectionsPerServer>20</maxPersistantServerConnectionsPerServer>
	<loggingFileName>log.txt</loggingFileName>
	<clientKeepAliveTimeout>30000</clientKeepAliveTimeout>
	<serverConnectionPersistentTimeout>30000</serverConnectionPersistentTimeout>

	<filters>
		<filter>
			<conditions>
				<OS>Mac OS</OS>
			</conditions>
			<actions>
				<blocked-IPs>
					<IP>200.200.*.200</IP>
				</blocked-IPs>
				<block-all-accesses>TRUE</block-all-accesses>
			</actions>
		</filter>
		<filter>
			<conditions>
				<browser>Firefox/3.6</browser>
			</conditions>
			<actions>
				<blocked-IPs>
					<IP>192.168.1.1</IP>
					<IP>192.168.2.*</IP>
					<IP>85.62.96.168</IP>
					<IP>193.145.222.100</IP>
				</blocked-IPs>
				<blocked-URIs>
					<URI>http://www.gaiaonline.com/*</URI>
				</blocked-URIs>
				<block-all-accesses>TRUE</block-all-accesses>
				<transform>
					<l33t>FALSE</l33t>
					<images180>TRUE</images180>
				</transform>
				<!-- <blocked-MediaTypes>
					<MediaType>text/html</MediaType>
				</blocked-MediaTypes> 
				<max-content-length>1000000</max-content-length> -->
			</actions>
		</filter>
	</filters>
	<admin-users>
		<user>
			<name>ssamra</name>
			<pass>1234</pass>
		</user>
		<user>
			<name>jscaruli</name>
			<pass>passfour</pass>
		</user>
	</admin-users>
</config>