<?xml version="1.0" encoding="UTF-8"?>

<config>
	<filters>
		<filter>
			<conditions>
				<origin-IPs>
					<IP>0:0:0:0:0:0:0:1</IP>
				</origin-IPs>
			</conditions>
			<actions>
				<block-all-accesses>TRUE</block-all-accesses>
				<transform>
					<l33t>FALSE</l33t>
					<images180>FALSE</images180>
				</transform>
			</actions>
		</filter>
	</filters>
</config>