<?xml version="1.0" encoding="UTF-8"?>

<config>
	<filters>
		<filter>
			<conditions>
				<browser>Firefox/3.6</browser>
			</conditions>
			<actions>
				<blocked-IPs>
					<IP>192.168.1.1</IP>
					<IP>85.62.96.168</IP>
				</blocked-IPs>
				<blocked-URIs>
				</blocked-URIs>
				<block-all-accesses>FALSE</block-all-accesses>
				<transform>
					<l33t>FALSE</l33t>
					<images180>TRUE</images180>
				</transform>
				<!-- <blocked-MediaTypes>
					<MediaType>text/html</MediaType>
				</blocked-MediaTypes> -->
			</actions>
		</filter>
	</filters>
</config>